<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Add New Book</h3>
<div id="form">
    <form th:action="@{/create}" th:object="${book}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{idBook}"/>
        <div>
            <label>Name's Book:</label>
            <input type="text" th:field="*{nameOfBook}"/>
        </div>
        <div>
            <label>Quantity:</label>
            <input type="text" th:field="*{quantity}"/>
        </div>
        <input type="submit" value="Save"/>
    </form>

</body>
</html>