<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/layout :: head">
<body>
<div th:replace="/layout :: navbar">
</div>
<div class="row text-center ">
    <form th:action="@{/customerSearch}">
        <div class="input-group">
            <div class="form-outline">
                <input type="search" id="form1" name="nameCustomer" class="form-control" placeholder="Tìm kiếm..."/>
            </div>
            <button type="submit" class="btn btn-primary">
                <i class="material-icons-outlined">
                    Search
                </i>
            </button>
        </div>
    </form>
</div>
<div class="row">
    <table class="table table-hover" style="margin-top: 5%">
        <thead>
        <tr>
            <th scope="col">STT</th>
            <th scope="col">Tên khách hàng</th>
            <th scope="col">Số điện thoại</th>
            <th scope="col">Địa chỉ</th>
            <th scope="col" sec:authorize="hasAuthority('ADMIN')">Chỉnh Sửa</th>
            <th scope="col" class="text-center" colspan="3" sec:authorize="isAnonymous()">Xem</th>
            <th scope="col" sec:authorize="hasAuthority('ADMIN')">Xoá</th>
        </tr>
        </thead>
        <tbody id="listCustomer">
        <tr th:each="customer,iState : ${customerList}">
            <td th:text="${iState.count}"></td>
            <td th:text="${customer.customerName}"></td>
            <td th:text="${customer.customerPhone}"></td>
            <td th:text="${customer.customerAddress}"></td>
            <td><a class="btn btn-primary"
                   th:href="@{/customer-edit/{id}(id=${customer.customerId})}"
                   role="button" sec:authorize="hasAuthority('ADMIN')">Chỉnh Sửa</a>
            </td>
            <td>
                <a class="btn btn-primary center" th:href="@{/customer-view/{id}(id=${customer.customerId})}" role="button">
                    Xem
                </a>
            </td>
            <td>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                        th:data-thing="${customer.customerId}" th:data-name="${customer.customerName}"
                        onclick="setIdToForm(this.getAttribute('data-thing'),this.getAttribute('data-name'));"
                        sec:authorize="hasAuthority('ADMIN')">
                    Xoá
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bạn có muốn xoá <span id="nameCustomer"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">
                    <a onclick="submitFormDelete()"
                       style="color: white;text-decoration: none">
                        Đồng Ý</a></button>

                <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">
                    <a style="color: white;text-decoration: none">
                        Huỷ</a></button>
            </div>
        </div>
    </div>
</div>
<form action="/customer/delete" id="formDelete">
    <input type="hidden" name="id" id="idBlogHidden"/>
</form>
<script>
    function setIdToForm(id, name) {
        document.getElementById("idBlogHidden").value = id;
        document.getElementById("nameCustomer").textContent = name;
    }

    function submitFormDelete() {
        document.getElementById("formDelete").submit();
    }
</script>
<nav aria-label="...">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" th:href="@{'/customerShowlist'(page=${customerList.number - 1})}"
               th:if="${customerList.hasPrevious()}">Trước</a>
        </li>
        <li class="page-item"><a class="page-link" th:text="${customerList.number}"
                                 th:if="${customerList.hasPrevious()}"></a></li>
        <li class="page-item active">
        <li class="page-item active"><a class="page-link" th:text="${customerList.number + 1}"></a></li>
        <li class="page-item"><a class="page-link" th:text="${customerList.number + 2}"
                                 th:if="${customerList.hasNext()}"
                                 th:href="@{'/customerShowlist'(page=${customerList.number + 1})}"></a></li>
        <li class="page-item">
        <li class="page-item"><a class="page-link" th:href="@{'/customerShowlist'(page=${customerList.number + 1})}"
                                 th:if="${customerList.hasNext()}">Sau</a>
        </li>
    </ul>
</nav>
<div th:replace="/layout :: script"></div>
</body>
</html>