<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3> View Product</h3>
<p>
    <a th:href="@{/product}">
        Back to customer list
    </a>
</p>
<div id="detail">
    <div class="productDetail">
        <label>ID :</label>
        <label th:text="${product.id}"></label>
    </div>
    <div class="productDetail">
        <label>Name :</label>
        <label th:text="${product.name}"></label>
    </div>
    <div class="productDetail">
        <label>Price :</label>
        <label th:text="${product.price}"></label>
    </div>
    <div class="productDetail">
        <label>Description :</label>
        <label th:text="${product.description}"></label>
    </div>
    <div class="productDetail">
        <label>Manufacture :</label>
        <label th:text="${product.manufacture}"></label>
    </div>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>