<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Product </title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.css}">

</head>
<body>
<div class="container-fluid">
    <h2>View Product</h2>
    <div class="card-body">
        <form  th:object="${products}">
            <input type="hidden" th:field="*{productId}">
            <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">Product Name</label>
                <div class="col-lg-9">
                    <input class="form-control editable" type="text"
                           th:value="${products.name}"
                           th:field="*{name}" disabled/>
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('name')}"
                         th:errors="*{name}"></div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">Price</label>
                <div class="col-lg-9">
                    <input class="form-control editable" type=text
                           th:value="${products.productPrice}"
                           th:field="*{productPrice}" disabled/>
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('productPrice')}"
                         th:errors="*{productPrice}"></div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">Made In</label>
                <div class="col-lg-9">
                    <input class="form-control editable" type=text
                           th:value="${products.madeIn}"
                           th:field="*{madeIn}" disabled/>
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('madeIn')}"
                         th:errors="*{madeIn}"></div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">Brand</label>
                <div class="col-lg-9">
                    <input class="form-control editable" type=text disabled
                           th:value="${products.brand}"
                           th:field="*{brand}"/>
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('brand')}"
                         th:errors="*{brand}"></div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">Description</label>
                <div class="col-lg-9">
                    <input class="form-control editable" type=text disabled
                           th:value="${products.description}"
                           th:field="*{description}"/>
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('description')}"
                         th:errors="*{description}"></div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">Category </label>
                <div class="col-lg-9">
                    <select th:field="*{category}" name="category" disabled
                            class="form-control editable">
                        <option th:each="c: ${categories}"
                                th:value="${c.categoryId}"
                                th:text="${c.categoryName}"></option>
                    </select>
                </div>
            </div>
            <a th:href="@{/}">Back home</a>
        </form>
    </div>
</div>


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>