<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout::header}">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div th:replace="~{layout::menu}"></div>
        </div>
    </div>
    <div class="col-12">
        <button class="btn btn-primary ml-1">
            <a th:href="@{/product}" class="text-white">Back to product's list</a>
        </button>
    </div>
    <div class="row">
        <div class="col-12">
            <h3 style="text-align: center">Edit Product</h3>
        </div>
    </div>
    <div class="col-12">
        <form th:action="@{/product/edit}" th:object="${product}" method="post">
            <div class="form-group">
                <input th:field="*{id}" hidden>
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" th:field="*{name}">
            </div>
            <div class="form-group">
                <label for="pp">Price</label>
                <input type="number" class="form-control" id="pp" th:field="*{price}">
            </div>
            <div class="form-group">
                <label for="pd">Detail</label>
                <input type="text" class="form-control" id="pd" th:field="*{productDetail.description}">
            </div>
            <div class="form-group">
                <label for="selectCategory">Category : </label>
                <select id="selectCategory" th:field="*{category}">
                    <option th:each="p : ${category}" th:value="${p.id}"
                            th:text="${p.name}" th:selected="${product.category} == ${p.id}"></option>
                </select>
                <div class="form-group">
                    <button class="btn btn-primary ml-1" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <div th:replace="~{layout::footer}"></div>
        </div>
    </div>
</div>
</body>
</html>