<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout::header}">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div th:replace="~{layout::menu}"></div>
        </div>
    </div>
    <div class="col-12">
        <h3 style="text-align: center">Product Information</h3>
    </div>
    <div class="col-12">
        <button class="btn btn-primary ml-1">
            <a th:href="@{/product}" class="text-white">Back to product's list</a>
        </button>
    </div>
    <div class="col-12">
        <table class="table table-bordered" th:object="${product}" >
            <thead>
            <tr>
                <th >Name</th>
                <th >Category</th>
                <th >Price</th>
                <th >Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${product.id}" hidden></td>
                <td th:text="${product.name}"></td>
                <td th:text="${product.category.name}"></td>
                <td th:text="${product.price}"></td>
                <td th:text="${product.productDetail.description}"></td>
                <td>
                    <a th:href="@{/product/{id}/edit(id=${product.id})}">Edit |</a>
                    <a th:href="@{/product/{id}/delete(id=${product.id})}">Delete |</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <div th:replace="~{layout::footer}"></div>
        </div>
    </div>
</div>
</body>
</html>